<h1>Address Autocomplete</h1>
<nav>
  <ul>
    <li><a routerLink="/google-widget" routerLinkActive="active">Google Autocomplete Widget</a></li>
    <li><a routerLink="/google-maps" routerLinkActive="active">Google Autocomplete Service</a></li>
    <li><a routerLink="/usps" routerLinkActive="active">Address Validation with USPS</a></li>
    <li><a routerLink="/here-maps" routerLinkActive="active">Here Maps</a></li>
    <li><a routerLink="/bing-maps" routerLinkActive="active">Bing Maps</a></li>
    <li><a routerLink="/map-quest" routerLinkActive="active">MapQuest</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
